@import '_normalize.styl'
@import '_animations.styl'
@import '_variable.styl'
@import '~antd/dist/antd.css'

body
  background: offwhite
  font-family: $Montserrat !important;
  
  p
    font-size 14px