@import '../../styles/_variable.styl'

.header {
	background-color: $blue;

	.logo {
		width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);  
    margin: 16px 24px 16px 0;
    float: left;
  }

  h3 {
    color: #fff;
  }

}

.footer {
  background-color: $blue;
	
	p {
		text-align: center;
		font-size: 0.95em;
	}
}