@import '../../styles/_variable.styl'

.header {
	background-color: $blue;

	&-logo {
		width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);  
    margin: 16px 24px 16px 0;
    float: left;
  }

  h3 {
    color: #fff;
    display: inline;
    width: 80%;
  }

  &-user {
    float: right;

    .ant-avatar {
      background: white;
      color: $blue-4
    }

    .ant-badge-dot {
      background: $green-6
    }

    &__username {
      color: white;
      margin-left: 12px;
    }

    &__caret {
      color: white;
      margin-left: 6px;
    }
  }

}

.footer {
  background-color: $blue;
  padding: 18px
  position: fixed;
  bottom: 0px;
  width: 100%;
	
	p {
		text-align: center;
		font-size: 0.95em;
    color: #fff
    margin-bottom: 0px
	}
}

.ant-dropdown {
  top: 65px !important;
}