@import '../../styles/_variable.styl'

.header {
	background-color: $blue;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

	&-logo {
    position: fixed;
    top: 4px;
    margin: 0;
		width: 120px;
    height: 31px;

    i {
      font-size: 2em
      color: white
      font-weight: bold
    }
  }

  h1 {
    color: #fff;
    margin-left: 34px;
    position: fixed;
    font-size: 2.2em;
  }

  &-user {
    float: right;

    .ant-avatar {
      background: white;
      color: $blue-4
    }

    .ant-badge-dot {
      background: $green-6
    }

    &__username {
      color: white;
      margin-left: 12px;
    }

    &__caret {
      color: white;
      margin-left: 6px;
    }
  }

}

.footer {
  background-color: $blue;
  padding: 18px
  position: fixed;
  bottom: 0px;
  width: 100%;
	
	p {
		text-align: center;
		font-size: 0.95em;
    color: #fff
    margin-bottom: 0px
	}
}

.ant-dropdown {
  top: 65px !important;
}